body {
    background-color: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 0;
}

a:link {
    color: rgb(0, 174, 255);
}
a:visited {
    color: rgb(204, 0, 255);
}
a:hover {
    color: rgb(0, 102, 255);
}

.features_header {
    font-size: large;
}
.features_body {
    font-size: medium;
    display: block;
    width: 600px;
}

#driver {
    font-size: x-large;
    font-weight: bold;
}